.container {
    padding: 0 !important;
}
.come-here:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    transition: all 0.3s;
}

#button-contact-vr {
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 99999;
}
#gom-all-in-one .button-contact {
    transition: 1.6s all;
    -moz-transition: 1.6s all;
    -webkit-transition: 1.6s all;
}

#button-contact-vr .button-contact {
    position: relative;
    margin-top: -5px;
}
#button-contact-vr .button-contact .phone-vr {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility 0.5s;
    left: 0;
    bottom: 0;
    display: block;
}
#zalo-vr .phone-vr-circle-fill {
    box-shadow: 0 0 0 0 #2196f3;
    background-color: rgba(33, 150, 243, 0.7);
}

.phone-vr-circle-fill {
    width: 65px;
    height: 65px;
    top: 12px;
    left: 12px;
    position: absolute;
    box-shadow: 0 0 0 0 #c31d1d;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animuiion: zoom 1.3s infinite;
    animation: zoom 1.3s infinite;
}
#zalo-vr .phone-vr-img-circle {
    background-color: #2196f3;
}
.phone-vr-img-circle {
    background-color: #e60808;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 25px;
    left: 25px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phone-vr-circle-fill 1s infinite ease-in-out;
}
.phone-vr-img-circle a {
    display: block;
    line-height: 37px;
}
.phone-vr-img-circle img {
    max-height: 25px;
    max-width: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
@keyframes zoom {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent;
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 transparent;
    }
}
@keyframes phone-vr-circle-fill {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@media only screen and (max-width: 1440px) {
    .noel-left,
    .noel-right {
        display: none;
    }
}

@media only screen and (max-width: 1620px) {
    .noel-left,
    .noel-right {
        height: auto;
        width: calc((100vw - 1200px) / 2 - 10px);
    }
}
@media only screen and (max-width: 1620px) {
    .noel-left {
        left: -15px;
    }
}
@media only screen and (max-width: 1620px) {
    .noel-right {
        right: -15px;
    }
}
@media only screen and (max-width: 1620px) {
    .noel-left,
    .noel-right {
        height: auto;
        width: calc((100vw - 1200px) / 2);
    }
}
.noel-left,
.noel-right {
    height: 200px;
    position: fixed;
    bottom: 20%;
    width: auto;
}
.noel-left {
    left: 0;
}
.noel-right {
    right: 0;
}
span img {
    max-width: 100%;
    height: auto;
}

.chat-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1000;
}

.chat-icon {
    background-color: var(--color-primary);
    color: #fff;
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-box {
    z-index: 1000;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    padding: 10px;
    height: calc(100% - 128px);
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 16px;
}

.chat-footer span {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.close-chat,
.reset-chat {
    font-weight: bold;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 6px 12px;
    background-color: #ffffff30;
    cursor: pointer;
}

.message,
.question-button {
    padding: 10px;
    border-radius: 10px;
    word-break: break-word;
    max-width: fit-content;
}

.message.user {
    margin: 5px 0;
    background-color: var(--color-primary);
    align-self: flex-end;
    text-align: right;
    color: #fff;
}

.message.reply,
.question-button {
    background-color: #f3f4f6;
    align-self: flex-start;
    text-align: left;
}
.chat-body,
.chat-questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    animation: blink 1s infinite;
    font-size: 24px;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.chat-questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}
.question-button {
    align-self: flex-end;
    cursor: pointer;
}

.new-year-left {
    left: 0;
}
.new-year-snake-left {
    left: calc((100vw - 1200px) / 2 - 468px);
}
.new-year-snake-right {
    right: calc((100vw - 1200px) / 2 - 540px);
}
.new-year-right {
    right: 0;
}
.new-year-header {
    z-index: 10 !important;
    top: 0;
}

.new-year-body {
    z-index: 2 !important;
    top: -224px;
}
.new-year-body.new-year-snake-right {
    top: -280px !important;
}
.motorbike {
    left: calc(100% - 80px);
    max-width: 70px;
    position: absolute;
    top: -55px;
    transform: scaleX(1);
    animation: motorbikeAnimation 10s infinite ease-in-out;
}
@keyframes motorbikeAnimation {
    0% {
        left: 0;
        transform: scaleX(1);
    }
    50% {
        left: calc(100% - 80px);
        transform: scaleX(1);
    }
    75% {
        left: calc(100% - 80px);
        transform: scaleX(-1);
    }
    100% {
        left: 0;
        transform: scaleX(-1);
    }
}

@media only screen and (max-width: 1700px) {
    .new-year-header .header-left,
    .new-year-header .header-right {
        height: auto;
        width: calc((100vw - 1200px) / 2);
    }
}
@media only screen and (max-width: 1440px) {
    .new-year-header .header-left,
    .new-year-header .header-right {
        display: none;
    }
}
.new-year-banner-body {
    position: absolute;
    top: -94px;
    right: 80px;
}

/* flower TET  */

.snowflake {
    color: rgb(255, 235, 59);
    font-size: 1rem;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #fff;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake.snowflake3 {
    font-size: 22px;
    color: rgb(244 7 91);
}
.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 15%;
    animation-delay: 2s, 1.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s, 1.5s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 4s, 2.5s;
}
.snowflake:nth-of-type(12) {
    left: 20%;
    animation-delay: 4s, 2.5s;
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80px);
    }
}

/* reponsive */
@media only screen and (max-width: 430px) {
    .header__main {
        margin: 0 20px;
    }

    .add,
    .feature,
    .hero__content {
        padding: 12px 16px;
    }
    .top-products {
        padding: 0 26px !important;
    }
    .hero__product-offer {
        left: 16px;
    }
    .tab-product {
        padding: 30px 16px;
    }
    .tab-product .product__nav {
        gap: 8px;
        flex-direction: column;
    }
    .rd-slide-product .container > div {
        flex-direction: column;
    }
    .vd-banner,
    .rd-slide-product {
        padding: 0 16px;
    }
    .rd-slide-product .container .bg-white {
        width: 100% !important;
    }
    .add .add__wrap {
        background-image: none !important;
    }
    .new-year-banner-body {
        top: -55px;
    }
    .footer,
    .contact-info-area,
    .recent-product,
    .product-cat {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .header__main {
        padding: 10px 0;
    }
    .recent-product .container .row > div:nth-child(2) {
        margin-top: 12px;
    }
    .recent-product .container .row .product__nav-wrap .product__nav {
        flex-direction: column;
        margin-top: 12px;
    }

    .hero__height h2,
    .tab-product h2,
    .rd-slide-product .product-category h2,
    .rd-slide-products h2,
    .product-cat .section-heading,
    .recent-product .container .row .product__nav-wrap h2 {
        font-size: 20px;
    }
    .feature__item h3 {
        font-size: 20px !important;
    }
    .recent-product .container .row .product__nav-wrap .recent-product__nav {
        gap: 8px;
    }
    .recent-product .container .row {
        margin: auto;
        width: 100%;
    }
    .recent-product .container .row > div:first-child {
        overflow-x: clip;
        padding: 0;
    }

    .tab-product .product__nav-wrap .product__nav .nav-link,
    .rd-slide-product .product-category .list-unstyled a,
    .recent-product .container .row .product__nav-wrap .product__nav .nav-link {
        font-size: 18px;
    }
    .feature__item p {
        font-size: 18px !important;
    }
    .add-banner__img {
        right: -200px;
    }
    .vd-banner .container .row {
        gap: 8px;
    }
    .feature__item p {
        margin-bottom: 0;
    }
}

.tawk-card.tawk-footer > div:first-child {
    display: none !important;
}
